.mainContainer {
  width: 100%;
  max-width: 1200px; 
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  
}

.section {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #F6F8FF; 
  border-radius: 16px;
  height: 324px;
  /* 모바일 대응  */
  flex-wrap: wrap; 
}


.textGroup {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  align-items: flex-start;
}
.section:nth-child(1) {
  padding-left: 60px;
  padding-right: 0px; 
  
  justify-content: space-between; 
}
.section:nth-child(1) .textGroup {
  width: auto;
  min-width: 300px;
  transform: translateY(-15px);
}
.section:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
  justify-content: flex-start;
  gap: 0;
  
}
.section:nth-child(2) .textGroup {
  width: auto;
  transform: translateY(-15px);
}

.pointBadge {
  background-color: var(--purple-600); 
  color: white;
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  width: fit-content;
  margin-bottom: 8px;
  line-height: 20px;
 
}


.title {
  font-family: 'Pretendard', sans-serif;
  font-size: 24px;
  color: #181818;
  font-weight: 700;
  leading-trim: NONE;
  line-height: 36px;
  letter-spacing: -1%;
  margin:0;
  transform: translateY(-10px);
}


.description {
  font-family: 'Pretendard', sans-serif;
  font-size: 18px;
  color: #555555;
  margin: 0;
  transform: translateY(-15px);
}


.imageWrapper {
  width: 720px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.sectionImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.sectionImage, .imgPC, .imgMobile {
  max-width: 100%;
  max-height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  width: 100%;
  height: 104px;
}


.ctaBtn {
  width: 280px; 
  height: 56px;
  padding: 14px 24px;
  font-size: 18px;
  background-color: #9935FF !important; 
  color: white !important;
  border: none !important;
  border-radius: 12px; 

  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em; 
  text-align: center;

  cursor: pointer;
 
}


.ctaBtn:hover {
  background-color: #832DEB !important; 
}

.imgPC {
  display: block;
  width: 100%;
  height: auto;
}
.imgMobile {
  display: none; 
}

@media (max-width: 1248px) {
  .mainContainer {
    max-width: 100%;
    padding: 0 24px; 
  }
}

@media (max-width: 1199px) {

  .section, 
  .section:nth-child(1), 
  .section:nth-child(2) {
    width: 100%;
    height: auto;   
    flex-direction: column;
    padding: 40px 24px;
    gap: 40px;
    justify-content: center; 
    align-items: center; 
  }
  
  .section:nth-child(2) {
    flex-direction: column-reverse; 
  }


  .textGroup, 
  .section:nth-child(1) .textGroup, 
  .section:nth-child(2) .textGroup {
    width: 100%;
    max-width: 720px;
    transform: none;
    padding: 0;
    
    align-items: flex-start; 
    text-align: left;        
  }
  .title br, 
  .description br {
    display: none;        
    content: " ";          
  }


  .title, .description {
    transform: none; 
    text-align: left; 
    word-break: keep-all; 
  }


  .imageWrapper, 
  .section:nth-child(2) .imageWrapper {
    width: 100%;
    max-width: 720px;
    height: auto;
    margin: 0 auto; 
  }

  .ctaBtn {
    width: 100% 
    
  }
  
  .buttonContainer {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  .buttonContainer a {
    display: block; 
    width: 100%;     
  }
}


@media (max-width: 767px) {
  
  .section {
    padding: 24px;
    border-radius: 12px;
  }

  .title {
    font-size: 18px; 
    line-height: 28px;
  }
  
  .description {
    font-size: 15px; 
  }

  .pointBadge {
    padding: 4px 10px;
    font-size: 12px;
  }
  

  .imgPC { display: none; }
  .imgMobile { display: block; width: 100%; }
}