@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@300;400;700&display=swap');
@font-face {
    font-family: 'NanumHandwriting';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_03@1.0/nanumpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container {
  max-width: 720px;
  margin: 0 auto;
}

.mainText {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  margin: 0 0 12px 0;
  font-weight: 700;
}

.profileBox {
  display: flex;
  align-items: center;
  gap: 32px;
}

.profileMainImage {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.profileMainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subText {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  font-weight: 400;
  color: var(--gray-500);
  display: block;
  margin: 0 0 12px 0;
}

.imageList {
  display: flex;
  gap: 4px;
}

.item {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.relationship,
.fontSelect {
  position: relative;
  margin: 50px 0 0 0;
  width: 320px;
}

.relationshipButton,
.fontSelectButton {
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 50px;
  padding: 12px 16px;
  border-radius: 8px;
}

.relationshipButton p,
.fontSelectButton p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: var(--gray-500);
}

.relationshipButton .arrow,
.fontSelectButton .arrow {
  width: 16px;
  height: 16px;
}

.relationshipButton .rotate,
.fontSelectButton .rotate {
  transform: rotate(180deg);
}

.relationshipList,
.fontSelectList {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  border-radius: 8px;
  z-index: 10;
}

.relationshipItem,
.fontSelectItem {
  margin: 0;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 16px;
  color: var(--gray-500);
}

.relationshipItem:hover,
.fontSelectItem:hover {
  background-color: var(--gray-100);
}

.textArea {
  margin: 50px 0 0 0;
}

.editor {
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  overflow: hidden;
}

.editor :global(.ql-container) {
  height: auto !important;
  border: none !important;
}

.editor :global(.ql-toolbar) {
  background-color: var(--gray-200);
  border: 0;
}

.editor :global(.ql-editor) {
  min-height: 210px !important;
  max-height: 300px !important;
  overflow-y: auto !important;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.createButton {
  margin: 50px 0 60px 0;
  width: 100%;
}

.createButton button {
  width: 100%; 
}

@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }

  .imageList {
    flex-wrap: wrap;
    gap: 2px;
  }

  .item {
    width: 40px;
    height: 40px;
  }

  .editor {
    overflow: visible !important;
  }

  .createButton {
    margin: 206px 0 24px 0;
  }
}

@media (max-width: 360px) {
  .relationship,
  .fontSelect {
    width: 100%;
  }

  .relationshipButton,
  .fontSelectButton {
    width: 100%;
  }
}