.buttonArea {
  display: flex;
  gap: 8px;
}

.active {
  background-color: #007bff !important;
  color: white;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.colorBox {
  width: 100%;
  height: 100px;
  border-radius: 8px;
}

.imageItem img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}