.header {
  width: 100%;
  height: 62px; 
  background-color: var(--white);
  border-bottom: 1px solid #ededed; 
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  width: 100%;
  max-width: 1248px; 
  margin: 0 auto; 
  padding: 0px 24px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 8px; 
  text-decoration: none; /* 링크 밑줄 제거 */
  cursor: pointer;
}

.logo img {
  height: 28px; 
  display: block;
}

.logoText {
  width: 71px;        
  height: 30px;       
  font-family: 'Poppins'; 
  font-weight: 700; 
  font-size: 19.97px;   
  line-height: 100%;  
  
  
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: #4A494F;     
  letter-spacing: 0;    
}

.action button {
  width: 157px;
  height: 40px;
  background-color: var(--white);
  border: 1px solid #CCCCCC; 
  border-radius: 6px;
  
 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;
  

  font-family: 'Pretendard', sans-serif; 
  font-size: 16px;
  font-weight: 700;
  color: #181818;
  cursor: pointer;
  
  transition: all 0.2s ease;
}


.action button:hover, 
.action button:active,
.action button:focus { 
  background-color: #F0F0F0 !important;
  color: #181818 !important; 
  border: 1px solid #CCCCCC !important;
  outline: none !important; 

}


@media (max-width: 1248px) {
  .container {
    max-width: 100%;
    padding: 0 24px; 
  }
}