.inputContainer {
  position: relative;
  margin-top: 57px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputLabel {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: -0.01em;

  cursor: pointer;
  width: fit-content;
}

.inputBox {
  width: 720px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  padding: 12px 16px;
  outline: none;
}

.inputBox.error {
  border: 1px solid var(--error);
}

.inputBox.error:focus {
  border-color: var(--error);
  outline: none;
}

.errorMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--error);
  font-size: 12px;
  margin-top: 4px;
}