.inputContainer {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputLabel {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: -0.01em;

  cursor: pointer;
  width: fit-content;
}

.inputBox {
  width: 720px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 12px 16px;
}