.toastContainer {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 524px; 
  max-width: 90%; 
  height: 64px;
  padding: 19px 24px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  animation: slideUp 0.3s ease-out;
}

.content {
  display: flex;
  align-items: center;
  gap: 12px; 
}

.checkIcon {
  width: 24px;
  height: 24px;
}

.message {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF; 
  line-height: 26px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}


@media (max-width: 767px) {
  .toastContainer {
    width: 320px; 
    bottom: 30px; 
  }
}