/* 전체 컨테이너 */
.container {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  position: relative;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.deleteBtnWrapper,
.cardList {
  width: 100%; 
  max-width: 1200px;
  box-sizing: border-box;
}

.deleteBtnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 11px;
  padding: 0 24px;
  z-index: 10; 
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 0 24px; 
  margin-bottom: 113px;
}

/* 태블릿 */
@media (max-width: 768px) {
  .container {
    padding: 24px 0;
  }

  /* 삭제 버튼 영역 */
  .deleteBtnWrapper {
    /* 하단 고정 */
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 48px); /* 좌우 여백 24px씩 */
    padding: 0;
    margin: 0;
    z-index: 100;
  }

  /* 삭제 버튼 */
  .deleteBtnWrapper button {
    width: 100%;
    height: 55px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
  }

  .cardList {
    width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr); /* 2열 */
    gap: 16px;
    margin: 0 auto;
    padding: 0;
  }
}

/* 모바일 */
@media (max-width: 360px) {
  .deleteBtnWrapper {
    width: calc(100% - 40px); /* 좌우 여백 20px씩 */
  }

  .cardList {
    width: calc(100% - 40px); /* 좌우 여백 20px씩 */
    grid-template-columns: 1fr; /* 1열 */
  }
}

/* 추가 버튼 카드 */
.addButtonCard {
  background-color: var(--white);
  border-radius: 16px;
  aspect-ratio: 1 / 0.8; /* 가로 1, 세로 0.8 비율 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

/* 플러스 아이콘 */
.addButton {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: var(--gray-500);
  border-radius: 50%;
  cursor: pointer;
}

/* 마우스 올렸을 때 */
.addButton:hover {
  background-color: var(--gray-600); 
}

/* 클릭했을 때 */
.addButton:active {
  background-color: var(--gray-700);
}

/* 가상 요소로 플러스 버튼 만들기 */
.addButton::before,
.addButton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--white);
  transform: translate(-50%, -50%);
}

/* 가로선 */
.addButton::before {
  width: 24px;
  height: 3px;
  border-radius: 10px;
}

/* 세로선 */
.addButton::after {
  width: 3px;
  height: 24px;
  border-radius: 10px;
}

.skeletonCard {
  background-color: var(--gray-200);
  border-radius: 16px;
  aspect-ratio: 1 / 0.8;
}