/* 전체 컨테이너 */
.container {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  position: relative;
  background-attachment: fixed;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 1200px;
  margin: 0 auto 113px;
}

/* 화면 너비가 1248px보다 줄어들 때 */
@media (max-width: 1248px) {
  .cardList {
    /* 좌우 여백을 24px로 고정하기 위해 전체 너비에서 48px을 제외 */
    width: calc(100% - 48px);
    /* 여백 고정 */
    margin: 0 24px;
    /* 1fr 설정에 의해 부모 너비가 줄어들면 카드들의 너비도 자동으로 함께 줄어듦. */
  }
}

/* 추가 버튼 카드 */
.addButtonCard {
  background-color: var(--white);
  border-radius: 16px;
  aspect-ratio: 1 / 0.8; /* 가로 1, 세로 0.8 비율 */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

/* 플러스 아이콘 */
.addButton {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: var(--gray-500);
  border-radius: 50%;
  cursor: pointer;
}

/* 마우스 올렸을 때 */
.addButton:hover {
  background-color: var(--gray-600); 
}

/* 클릭했을 때 */
.addButton:active {
  background-color: var(--gray-700);
}

/* 가상 요소로 플러스 버튼 만들기 */
.addButton::before,
.addButton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--white);
  transform: translate(-50%, -50%);
}

/* 가로선 */
.addButton::before {
  width: 24px;
  height: 3px;
  border-radius: 10px;
}

/* 세로선 */
.addButton::after {
  width: 3px;
  height: 24px;
  border-radius: 10px;
}

.deleteBtnWrapper {
  width: 1200px;
  display: flex;
  justify-content: flex-end; /* 오른쪽 끝으로 밀기 */
  margin-bottom: 11px;
}