/* 메시지 카드 */
.messageCard {
  background-color: var(--white);
  border-radius: 16px;
  padding: 28px 24px;
  aspect-ratio: 1 / 0.8;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

/* 프로필 이미지 */
.profileImage {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  object-fit: cover;
}

/* 프로필 영역 */
.profileSection {
  display: flex;
  align-items: center;
  gap: 14px;
  border-bottom: 1px solid var(--gray-200);
  padding-bottom: 16px;
  margin-bottom: 15px;
}

.profileImagePlaceholder {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  background-color: var(--gray-200);
}

.senderInfo {
  display: flex;
  flex-direction: column;
  gap: 6px; 
}

.nameBox {
  font-size: 20px;
  display: flex;
  gap: 6px;
}

.name {
  font-weight: 700;
  color: var(--black);
}

/* 관계 배지 */
.relationshipBadge {
  font-size: 14px;
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
}

/* 관계별 색상 클래스 */
/* 친구 */
.friend { 
  background-color: var(--blue-100);
  color: var(--blue-500);
}
/* 동료 */
.colleague {
  background-color: var(--purple-100);
  color: var(--purple-600);
}

/* 가족 */
.family {
  background-color: var(--green-100);
  color: var(--green-500);
}

/* 지인 */
.acquaintance {
  background-color: var(--orange-100);
  color: var(--orange-500);
}

.content {
  font-size: 16px;
  color: var(--gray-600);
  line-height: 1.6;
  /* 4줄 말줄임 처리 */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* 구형 브라우저용 */
  line-clamp: 4; /* 최신 표준 속성 */
}

.date {
  font-weight: 400;
  margin-top: auto;
  font-size: 12px;
  color: var(--gray-400);
}

.deleteIconButton {
  position: absolute;
  top: 28px;
  right: 24px;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out; /* 부드러운 상태 변화 */

  /* 기본 상태 */
  background-color: var(--white);
  border: 1px solid var(--gray-300);
}

/* 마우스 올렸을 때 */
.deleteIconButton:hover {
  background-color: var(--gray-100);
  border-color: var(--gray-400);
}

/* 클릭했을 때 */
.deleteIconButton:active {
  background-color: var(--gray-200);
  border-color: var(--gray-500);
}

.deleteIconButton img {
  width: 24px;
  height: 24px;
  display: block;
}