.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalWindow {
  background-color: var(--white);
  width: 600px;
  height: 476px;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

/* 프로필 섹션 레이아웃 */
.profileSection {
  display: flex;
  align-items: center;
  gap: 14px;
  border-bottom: 1px solid var(--gray-200);
  padding-bottom: 16px;
  margin-bottom: 20px;
}

.profileImage {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  object-fit: cover; /* 사진 튀어나오는 것 해결 */
}

.senderInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.nameBox {
  font-size: 20px;
  display: flex;
  gap: 6px;
}

.name {
  font-weight: 700;
  color: var(--black);
}

.date {
  font-size: 14px;
  color: var(--gray-400);
  align-items: center;
}

.relationshipBadge {
  font-size: 14px;
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
}

/* 관계별 색상 클래스 */
/* 친구 */
.friend { 
  background-color: var(--blue-100);
  color: var(--blue-500);
}
/* 동료 */
.colleague {
  background-color: var(--purple-100);
  color: var(--purple-600);
}

/* 가족 */
.family {
  background-color: var(--green-100);
  color: var(--green-500);
}

/* 지인 */
.acquaintance {
  background-color: var(--orange-100);
  color: var(--orange-500);
}

.content {
  font-size: 18px;
  color: var(--gray-600);
  line-height: 1.8;
  overflow-y: auto;
  flex: 1;
  padding-right: 10px;
}

.buttonWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

/* 래퍼 안의 공통 버튼 크기 조절 */
.buttonWrapper > button {
  width: 120px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  border-radius: 6px;
}