.container {
  position: relative;
  display: inline-block;
}

.shareButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  cursor: pointer;
  width: 56px;
  height: 36px;
  padding: 6px 16px;
  gap: 10px;
}

.iconDesktop { display: block; }
.iconMobile { display: none; }

.dropdown {
  position: absolute;
  top: 100%; 
  right: 0;  
  z-index: 100;
  margin-top: 8px; 
  width: 140px;
  height: 120px; 
  padding: 10px 1px; 
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-direction: column;
}


.optionButton {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 138px; 
  height: 50px;
  padding: 12px 16px;
  gap: 10px;
  background: white;
  border: none;
  cursor: pointer;

  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #181818; 
}

.optionButton:hover {
  background-color: #f5f5f5;
}


@media (max-width: 767px) {
  .shareButton {
    width: 36px;
    height: 32px;
    padding: 6px 8px;
  }
  .iconDesktop { display: none; }
  .iconMobile { display: block; }
}