@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {


  /* Purple (100 ~ 900) */
  --purple-100: #F8F0FF;
  --purple-200: #ECD9FF;
  --purple-300: #DCB9FF;
  --purple-400: #C894FD;
  --purple-500: #AB57FF;
  --purple-600: #9935FF; 
  --purple-700: #861DEE;
  --purple-800: #6E0AD1;
  --purple-900: #5603A7;

  /*  Orange (100 ~ 500) */
  --orange-100: #FFF0D6; 
  --orange-200: #FFE2AD;
  --orange-300: #FFC583;
  --orange-400: #FFAE65;
  --orange-500: #FF8832; 

  /*  Blue (100 ~ 500) */
  --blue-100: #E2F5FF;
  --blue-200: #B1E4FF;
  --blue-300: #7CD2FF;
  --blue-400: #34B9FF;
  --blue-500: #00A2F2; 

  /* Green (100 ~ 500) -  */
  --green-100: #E4FBDC;
  --green-200: #D0F5C3;
  --green-300: #9BE282;
  --green-400: #60CF37;
  --green-500: #2BA600; 

  /*  Grayscale (100 ~ 900) */
  --gray-100: #F6F6F6; 
  --gray-200: #EEEEEE;
  --gray-300: #CCCCCC; 
  --gray-400: #999999;
  --gray-500: #555555; 
  --gray-600: #4A4A4A;
  --gray-700: #3A3A3A;
  --gray-800: #2B2B2B;
  --gray-900: #181818; 

  /* Basic */
  --white: #FFFFFF;
  --black: #000000;
  --error: #DC3A3A;    
  --surface: #F6F8FF; 


  --font-family: 'Pretendard', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--white); 
  color: var(--gray-900);      
}

/* 박스 크기 계산 통일  */
*, *::before, *::after {
  box-sizing: border-box;
}
